﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Master.Master" AutoEventWireup="true" CodeBehind="login.aspx.cs" Inherits="Conference.login" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <asp:Login ID="Login11" runat="server" onauthenticate="Login11_Authenticate">
    </asp:Login>
    <br/>
    <a href="registration.aspx">Registration</a>
</asp:Content>
